.add-task-container {
    margin-top: 20px;
    display: flex;
    align-items: center;

    div:first-child {
        width: 100%;
    }

    .custom-button-container {
        margin: 16px;
    }
}
