.app-container {
    max-width: 1440px;
    margin: 0 auto;

    .add-task-container {
        margin-top: 20px;
        display: flex;
        align-items: center;

        div:first-child {
            width: 100%;
        }

        .custom-button-container {
            margin-left: 16px;
        }
    }
}
